<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="MyAppConfig">
    <Appenders>
        <!-- Console Appender，与 Log4J 1 的 ConsoleAppender 对应 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 针对 org.apache 包的日志设置为 DEBUG，且不向上传递 -->
        <Logger name="org.apache" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 根日志设置为 DEBUG -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
