<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xxx">
    <select id="selectStudentByName" parameterType="String" resultType="hashmap">
        SELECT * FROM student
                 WHERE name=#{studentName}
    </select>

    <select id="selectStudentByMap" parameterType="hashmap" resultType="hashmap">
        SELECT * FROM student
                 WHERE name=#{studentName} AND no=#{studentNo}
    </select>

    <select id="selectStudentByNameAndNo" parameterType="domain.Student" resultType="hashmap">
        SELECT * FROM student
                 WHERE name=#{studentName} AND no=#{studentNo}
    </select>
</mapper>
